.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: -100px;
    margin-bottom: 20px;
}

.header {
    margin-top: -100px;
    margin-bottom: 20px;     
}