:global {
    body[data-theme = 'light' ] {
        --bg-color: var(--white);
        --shadow: var(--light-shadow)
        --color: var(--dark-blue);
        -border--color: var(--border-color-light)
    }
    body[data-theme = 'dark' ] {
        --bg-color: var(--dark);
        --shadow: var(--dark-shadow)
        --color: var(--light-gray);
        --border-color: var(--border-color-dark)
    }
}



.modal {
    height: 100vh;
    position:  fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    .wrapper {
        
        border-radius: 5px;
        padding: 20px;
        width: 400px;
        height: fit-content;
        background-color:var(--bg-color) ;
        box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        gap: 20px;
        .input {
            background-color: transparent;
            width: 100%;
            height: 40px;
            padding: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: -0.25px;
            color: var(--color);
            border: 1px solid var(--border-color);
            &:focus {
                outline: none;
            }
        }
        .buttonWrapper{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items:center;
        }
        .errorText {
            text-align: center;
            color: var(--red);
        }
        .title {
            text-align: center;
            color: var(--color);
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: -0.25px;
        }
    }
}

@media(max-width: 420px) {
    .modal {
        
        .wrapper {
           
            width: 100%;
           
            
        }
    }
    
    
}