@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-gray: hsl(0, 10%, 94%);
  --dark-blue: hsl(235, 21%, 11%);
  --white:#FFFFFF;
  --dark: #25273D;
  --blue: #0079FF;
  --blue-hover: #60ABFF;
  --red: #F74646;
  --red-hover: #f32d2d;
  --light-shadow:0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --dark-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --border-color-light: #E3E4F1;
  --border-color-dark: #393A4B;
}

body {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: var(--light-gray);
}

body[data-theme='dark'] {
  background-color: var(--dark-blue);
}

a {
  font-family: 'Ubuntu', sans-serif;
}
